# traefik-values.yaml
deployment:
  podAnnotations:
    prometheus.io/scrape: "true"

additionalArguments:
  - "--entrypoints.web.address=:8081"
  - "--entrypoints.web.http.redirections.entrypoint.to=:443"
  - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
  - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
  - "--entrypoints.websecure.address=:8443"

ports:
  web:
    port: 8081
    exposedPort: 80
  websecure:
    port: 8443
    exposedPort: 443
    tls:
      enabled: true

ingressRoute:
  dashboard:
    enabled: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "nivedit@exosphere.host"
      storage: /data/acme.json
      httpChallenge:
        entryPoint: web
